.app__footer-links_icons {
  display: flex;
  justify-content: center;
  align-items: left;
}

.section__padding_footer {
  padding: 0;
}

.app__footer-links_icons svg {
  color: rgb(223, 223, 223);
  font-size: 30px;
  cursor: pointer;
  font-family: var(--font-alt);
  margin-left: 15px;
}

.app__footer-links_icons svg:hover {
  color: rgb(223, 223, 223);
}

.footer__copyright {
  margin-top: 3rem;
  font-family: var(--font-base);
  color: rgb(223, 223, 223);
  white-space: nowrap;
  margin: 0px;
}

.footer_copyright_paragraph {
  margin: 0px;
  color: rgb(223, 223, 223);
}

.footer_igCta {
  color: rgb(223, 223, 223);
}