.app__FindUs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}

.app__FindUs-content{
  margin: 2rem;
}

.app__FindUs-h1 {
  font-family: var(--font-alt);
  color: var(--color-petroleo);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 117px;
  font-size: 4rem;
  text-align: center !important;
}

.FindUs-text{
  color: var(--color-black) !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  text-align: justify;
  line-height: 3rem !important;
  padding:2rem;
}

.FindUs-text-back {
  background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con 80% de opacidad */
  padding: 5rem 8rem;
  border-radius: 30px;
  display: inline-block;
}

.app__FindUs-overlay {
  position: absolute;
  inset: 0;
}

.app__FindUs-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.app__FindUs-content_history p {
  margin: 2rem 0;
}

@media screen and (min-width: 2000px) {
  .app__FindUs-content_history p {
      margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__FindUs-content {
      flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .FindUs-text-back {
    padding: 0.5rem;
  }
  .FindUs-text{
    font-size: 17px !important;
    font-weight: 400 !important;
    letter-spacing: 0px!important;
    text-align:justify;
    line-height: 30px !important;
    padding:1rem;
        word-break: break-all!important;

  }
  .app__FindUs-h1 {
    font-weight: 450;
    line-height: 20px;
    font-size: 2rem;
    text-align: center !important;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .app__FindUs-content{
    margin: 0
  }
}