.app__gallery {
  flex-direction: row;
  background: linear-gradient(to right, #ffffff, #e0e0e0);
  /* Gris más oscuro */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra sutil */
  padding: 0rem 0rem 0rem 3rem;
  border-radius: 30px;
  width: 100%;
}

.app__Gallery-h1 {
  font-family: var(--font-alt);
  color: #333333 !important;
  font-weight: 600;
  letter-spacing: 0.03em;
  font-size: 3rem;
  text-align: center !important;
}

.app__gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 500px;
  padding-right: 2rem;
}

.app__gallery-content button {
  margin-top: 1rem;
}

.app__gallery-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  position: relative;
}

.app__gallery-images_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 1rem
}

.app__gallery-images_container::-webkit-scrollbar {
  display: none;
}

.app__gallery-images_card {
  position: relative;
  min-width: 301px;
  height: 447px;
  margin-right: 2rem;
}

.gallery__image-icon {
  position: absolute;
  color: black;
  font-size: 2rem;
  opacity: 0;
  transition: .5s ease;
  cursor: pointer;
}

.app__gallery-images_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s ease;
  border-radius: 30px;
}

.app__gallery-images_arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  padding: 0 1rem;
  position: absolute;
  bottom: 5%;
}

.gallery__arrow-icon {
  color: var(--color-golden);
  font-size: 2rem;
  cursor: pointer;
  background: var(--color-black);
  border-radius: 5px;
}

.gallery__arrow-icon:hover {
  color: var(--color-white);
}

.text_styles {
  color: #333333 !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  text-align: justify;
  line-height: 2.5rem !important;
  padding: 2rem 0rem 0rem 0rem;
}

.logos_container {
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
}

.airbnb_logo {
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.booking_logo {
  width: 95px;
  margin-left: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 3px
}

@media screen and (min-width: 2000px) {
  .app__gallery-content button {
    margin-top: 2rem;
  }

  .app__gallery-content {
    min-width: 1000px;
    padding-right: 4rem;
  }

  .app__gallery-images_card {
    min-width: 400px;
    height: 547px;
  }
}

@media screen and (max-width: 1150px) {
  .app__gallery {
    flex-direction: column;
  }

  .app__gallery-images {
    max-width: 100%;
    margin: 5rem 0;
  }

  .app__Gallery-h1 {
    font-weight: 450;
    line-height: 20px;
    font-size: 2rem;
    text-align: center !important;
    padding-top: 1rem;
    white-space: nowrap;
  }

}

@media screen and (min-width: 650px) and (max-width: 1100px) {
  .app__gallery-content {
    position: relative;
    right: 100px;
    top: 10px;
  }
}

@media screen and (max-width: 850px) {
  .app__gallery {
    padding: 4rem 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .app__gallery {
    padding: 4rem 0 4rem 2rem;
  }

  .app__gallery-content {
    min-width: 100%;
  }

  .app__gallery-images_card {
    min-width: 240px;
    height: 320px;
  }

  .app__Gallery-h1 {
    font-weight: 450;
    line-height: 20px;
    font-size: 2rem;
    text-align: center !important;
    padding-top: 1rem;
    white-space: nowrap;
  }
}