.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; /* Ajustar el espacio alrededor de los elementos */
}

.app__wrapper_info {
  margin-bottom: 20rem; /* Reducir este margen para posicionar el contenedor más arriba */
}

.app__header-img img {
  width: 100% !important; 
  margin-right: 10rem;
}


.uiDisplay{
  margin-left: 2rem;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
      font-size: 180px;
      line-height: 210px;
  }
}


@media screen and (max-width: 1100px) {
  .app__header-h1 {
  font-size: 40px;
  line-height: 87px;
  margin-bottom: 4rem; /* Ajusta según sea necesario */
  }
  .app__header-img img {
  margin-right: 0;
  margin-bottom: 8rem;
  } 
 
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
      font-size: 36px;
      line-height: 70px;
      
  }
  .app__header-img img {
    margin-right: 0;
  margin-bottom: 8rem;
  }
 
}