.app__navbar {
  width: 100%;
  display: flex;
  background: var(--color-grey);
  border-radius: 30px;
  margin: 10px;
}

.section__padding_navbar{
  padding:1rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 100px;
  padding:5px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 4rem;
  cursor: pointer;
}
.app__navbar-links li {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 600;
  letter-spacing: 0.06em;
  font-size: 1rem !important;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position:fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
}

.app__navbar-smallscreen_links {
  list-style: none;
  padding-top: 6rem;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  margin-top: 4rem;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.5rem;
  text-align: left;
  font-family: var(--font-alt);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo img {
      width: 200px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
      display: none;
  }

  .app__navbar-smallscreen {
      display: flex;
  }
  
}

@media screen and (max-width: 650px) {
  .app__navbar {
      padding: 1rem;
  }
  .app__navbar-logo img {
      width: 100px;
  }
  .app__navbar {
    border-radius: 0px;
    border-bottom-left-radius: 30px;
    margin:0px;
  }
  .section__padding_navbar{
    padding:0rem;
  }

  .hamburgerMenu{
    color: var(--color-white);
    font-size: 30px;
    position: fixed;
    top: 3rem;
    right: 1rem;
    margin-right: 0.7rem;
    border-radius: 1rem;
  }

  .homeMenu {
    color: var(--color-white);
    font-size: 30px;
    position: fixed;
    top: 3rem;
    right: 1rem;
    margin-right: 0.7rem;
  }
}