.app__aboutus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa el 100% de la altura de la ventana */
}
.app__aboutus-content{
  margin: 2rem;
}
.app__aboutUs-h1 {
  font-family: var(--font-alt);
  color: var(--color-petroleo);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 117px;
  font-size: 4rem;
  text-align: center !important;
}

.aboutUs-text{
  color: var(--color-black) !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  text-align: justify;
  line-height: 3rem !important;
  padding:2rem;
}

.aboutUs-text-back {
  background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con 80% de opacidad */
  padding: 5rem 8rem;
  border-radius: 30px;
  display: inline-block;
}

.app__aboutus-overlay {
  position: absolute;
  inset: 0;
}

.app__aboutus-content_history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.app__aboutus-content_history p {
  margin: 2rem 0;
}

@media screen and (min-width: 2000px) {
  .app__aboutus-content_history p {
      margin: 4rem 0;
  }
}

@media screen and (max-width: 900px) {
  .app__aboutus-content {
      flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .aboutUs-text-back {
    padding: 0;
  }
  .aboutUs-text{
    font-size: 1.5rem !important;
    font-weight: 450 !important;
    text-align: left;
    line-height: 2.5rem !important;
    padding:1rem;
  }
}

@media screen and (max-width: 450px) {
  .app__aboutus-content{
    margin: 0
  }
}