.app__header {
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; /* Ajustar el espacio alrededor de los elementos */
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-softbrown);
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 117px;
  font-size: 90px;
  margin-bottom: 15rem; /* Añadir margen inferior al texto */
}

.app__header-img img {
  width: 100% !important; 
  margin-right: 10rem;
}

.homeButton {
  border-radius: 10% !important;
  margin-bottom: 2rem;
  padding:2rem !important;
}

.uiDisplay{
  margin-left: 2rem;
}

@media screen and (min-width: 2000px) {
  .app__header-h1 {
      font-size: 180px;
      line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
      font-size: 90px;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
      font-size: 70px;
      line-height: 87px;
      margin-bottom: 4rem; /* Ajusta según sea necesario */
  }
  .app__header-img img {
  margin-right: 0;
margin-bottom: 8rem;
}
.homeButton {
  padding:1rem !important;
}

}

@media screen and (max-width: 450px) {
  .app__header-h1 {
      font-size: 50px;
      line-height: 70px;
  }
  .app__header-img img {
    margin-right: 0;
  margin-bottom: 8rem;
  }
 
}