.app__findUs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger-intern {
  position: absolute !important;
  left: 0% !important;
  bottom: 0% !important;
  border-radius: 0px !important;
  border-top-right-radius: 15px !important;
  background-color: red !important;
  font-size: 1rem !important;
  padding: 1rem !important;
  font-weight: 1000 !important;
}

.form_container {
  background-color: rgba(255, 255, 255, 0.6);
  /* Fondo blanco con 80% de opacidad */
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
}

.findUs-form input {
  border: 2px solid black;
  /* Borde negro */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  /* Sombra */
  border-radius: 10px;
  /* Agregar borde redondeado */
  padding: 10px;
  /* Añadir espacio interno */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 3rem;
}

.findUs-form-Select {
  border: 2px solid black;
  /* Borde negro */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  /* Sombra */
  border-radius: 10px;
  /* Agregar borde redondeado */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 3rem;
}

.findUs-form_button_container {
  position: relative;
  right: 0%;
  top: 100%;
}

.findUs-form button {
  font-family: var(--font-base);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  background-color: #0C0C0C99;
  border-radius: 30px;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: fit-content;
  white-space: nowrap;
  position: absolute;
  left: 55%;
  bottom: 5.5rem;
}

.app__findUs-h1 {
  font-family: var(--font-alt);
  color: var(--color-petroleo);
  font-weight: 1000;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-size: 1rem;
  margin: 10px
}

.file-upload-button {
  display: inline-block;
  background-color: #0C0C0C99;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  /* Ajustar según sea necesario */
  border-radius: 30px;
  cursor: pointer;
}

.file-upload-input {
  position: absolute;
  /* Posición absoluta para ocultar el input */
  top: 0;
  left: 0;
  opacity: 0;
  /* Hacer el input transparente */
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* Cambiar el cursor al pasar sobre él */
}

.errorContainer {
  display: flex;
  width: 50%;
  justify-content: left;
}

.errorFindUsForm {
  color: red;
}

.add-photo-container {
  position: relative;
  bottom: 30px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 0;
}

.add-photo-button {
  position: relative;
  bottom: 3px;
  left: 10px;
  height: 35px;
  width: 35px;
}

@media screen and (min-width: 1800px) {
  .findUs-text-back {
    margin: 0;
    border-radius: 30px;
  }
}

@media screen and (max-width: 1100px) {
  .findUs-form input {
    width: 95%;
  }

  .findUs-form-Select {
    width: 95%;
  }

  .errorContainer {
    display: flex;
    width: 100%;
    justify-content: left;
  }

  .add-photo-container {
    position: relative;
    top: 10px;
    left: -160px;
    bottom: 10px;
    width: 100%;
    margin-top: 0;
  }

  .add-photo-button {
    position: relative;
    bottom: 5px;
    left: 10px;
  }

  .findUs-form button {
    left: 55%;
    bottom: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .findUs-text-back {
    padding: 0.5rem;
  }

  .findUs-text {
    font-size: 17px !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    text-align: justify;
    line-height: 30px !important;
    padding: 1rem;
    word-break: break-all !important;

  }

  .app__findUs-h1 {
    font-weight: 450;
    line-height: 20px;
    font-size: 2rem;
    text-align: center !important;
    padding-top: 1rem;
  }

  .add-photo-container {
    position: relative;
    top: 2px;
    left: -20px;
    width: 100%;
    margin-top: 0;
  }

  .add-photo-button {
    position: relative;
    bottom: 0px;
    top: 5px;
    left: 10px;
  }

  .findUs-form_button_container {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 1rem;
    margin-left: 0;
  }

  .findUs-form button {
    font-family: var(--font-base);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    background-color: #0C0C0C99;
    border-radius: 30px;
    padding: 1em;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: fit-content;
    white-space: nowrap;
    position: static;
    /* Anula la posición absoluta */
    width: auto;
    /* Define cualquier otra propiedad necesaria */
    height: auto;
    /* Define cualquier otra propiedad necesaria */
  }

  .btn-danger-intern {
    font-size: 0.5em !important;
    padding: 2em !important;
  }
}

@media screen and (max-width: 450px) {
  .app__findUs-content {
    margin: 0
  }

  .app__findUs-h1 {
    font-size: 15px;
    font-weight: 1000;
  }
}